.convenience-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 40px;
  flex-direction: row;
}

@media (max-width: 1024px) {
  .convenience-row {
    gap: 30px 20px;
  }
}

@media (max-width: 768px) {
  .convenience-row {
    gap: 20px 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
